table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;    
}

th{
    background-color: lightblue
}

#formdiv{
    display: flex;
    flex-direction: column;
}

#formdiv label, button, input {
    margin: 10px;
    padding: 5px;
}

#formdiv label {
    font-weight: bolder;
}

#updateformdiv {
    display: none;
    flex-direction: column;
}

#updateformdiv label, button, input {
    margin: 10px;
    padding: 5px;
}

#updateformdiv label {
    font-weight: bolder;
}

#updateformdivpub {
    display: none;
    flex-direction: column;
}

#updateformdivpub label, button, input{
    margin: 10px;
    padding: 5px;
}

#updateformdivpub label {
    font-weight: bolder;
}

#updateformdevdiv {
    display: none;
    flex-direction: column;
}

#updateformdevdiv label, button, input {
    margin: 10px;
    padding: 5px;
}

#updateformdevdiv label {
    font-weight: bolder;
}

table button{
    padding: 2px;
}